# Editor / IDE
.vscode/

# Git
**/.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python
.venv/
__pycache__/
*.py[cod]

# Specific folders/files
configs
html_nb/
dvc_remote_sample/
notebooks/4_EDA_review_sampleV2.ipynb
notebooks/7_ML_modelingV2.ipynb
notebooks/7_ML_modelingV3.ipynb
notebooks/9_data_&_ethics.ipynb